
/* Your CSS Code here. */

.holder{
	display:flex;
	justify-content: center; 
    align-items: center;
	height:100vh;
	width:100vw;
	
	/* background-color:green; */
}

.item-1{
	/* text-align: center; */
	height:100px;
	width:100px;
	background-color:red;
    
}
